body,ul,li,p,pre,h1,h2,h3,h4,h5,h6,form{
	margin:0;
	padding:0;
	list-style:none;
}
img{
	border:0;
}
a{
	text-decoration:none;
}
*{font-family: "SF Pro SC","SF Pro Text","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;}

